# Irony Detection in English 

#### The goal of this project consists in training a model capable of performing the task of classification if a tweet in English is ironic or don’t.

Using different classification techniques we intend to find the one that performs better using as training data a data set with around 4000 tweets of different types.

This project was made by 3rd students as part of the Artificial Intelligence at FEUP. You are free to use the code for any purpose, but beware that this is just an academia project in an introductory course to Artificial Intelligence.

### Datasets:

The data sets for this project are not own by our group, they are supplied by SemEval competition and are free to use for academic purpose only outside of the competition.

There are two data sets available, one marked for train other for testing. Originally they were in .txt format, but in order to simplify the work of the pandas library, we manually converted those files to .csv

#### Problem with word delimeter

Pandas is a library perfect for the job of reading the data from a file, since it setup automaticaly the capability of seeing that data in a formatted organized way.

Pandas has specific functions to read from different formats. 4000 tweets in JSON would turn the data file really dense in information.
Since we are dealing with just 2 attributes is pointless to make our life harder in this step. We choosed .csv format to represent the data

CSV files dealing with text rise other problem, the fact that people use comma in their texts, pandas. So we introduce other delimiter that exists in Portuguese, but doesn't exist in english "_ç", so we are able to do the task

In [51]:
import pandas

train_data=pandas.read_csv('data/train.csv', engine='python', encoding="utf-8",delimiter="_ç")
test_data=pandas.read_csv('data/test.csv',engine='python', encoding="utf-8",delimiter="_ç")

In [49]:
train_data.head()

   label                                              tweet
0      1   Sweet United Nations video. Just in time for ...
1      1   @mrdahl87 We are rumored to have talked to Er...
2      1   Hey there! Nice to see you Minnesota/ND Winte...
3      0                3 episodes left I'm dying over here
4      1   "I can't breathe!" was chosen as the most not...

In [52]:
test_data.head()

                                               tweet
0  @Callisto1947 Can U Help?||More conservatives ...
1  Just walked in to #Starbucks and asked for a "...
2                   GONNA WIN http://t.co/Mc9ebqjAqj
3  @mickymantell He is exactly that sort of perso...
4  So much at work mate 10/10 #boring 100% #dead ...